services:
  db:
    image: postgres:17
    container_name: Warehouse
    ports:
      - "5433:5432"

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: Warehouse
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - elk-net
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - elk-net
networks:
  elk-net:
    driver: bridge

volumes:
  es_data:
  pg_data:
  logstash_data:
  minio_data:

